/* Template styling */

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(41, 7, 41);
  font-family: 'Roboto', sans-serif;
  color: #333;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  min-height: 100px;
}

div#app {
display: flex;
flex-direction: column;
flex: 1;
}

header {
  background: #333;
  color: #fff;
  padding: 16px;
  text-align: center;
  display: center;
  justify-content: center;
  align-items: center;
  background-image: url(../images/css.gif);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 200px;
  
}

nav {
  grid-area: menu;
  height: 60px;
  background-color: #413746;
  font-size: 1.75em;
  line-height: 60px;
  padding: 10px;
  background-repeat: repeat;
  color: white;
  display: flex;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
  font-family: 'Roboto', sans-serif;
}

nav a {
  color: rgb(95, 191, 255);
  text-decoration: none;
  margin: 0 10px;
}

nav a:hover {
  color: rgb(198, 115, 247);
}

#container {
  grid-area: container;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  color: white;
}

footer {
  grid-area: footer;
  padding: 10px;
  text-align: center;
  color: #ccc;
}

.hidden {
  display: none;
}

a.active {
  color: white;
  font-weight: bold;
}

input#search {
  font-size: 20px;
  background-color: rgb(41, 7, 41);
  color: white;
}

#searchButton {
  padding: 6px 10px;
  background-color: #a8a7a8;
  color: #fff;
  border: #333;
  cursor: pointer;
  border-radius: 4px;
  font-size: 14px;
}

span.favorite {
  padding-left: 10px;
  cursor: pointer;
}

span.favorite.active {
  color: rgb(255, 0, 149);
}

span.favorite:hover {
  color: rgb(187, 135, 255)
}

/* End template styling */



/* Add your styles below */


/* Homepage styles */

.home-view {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.home-view .gif {
  position: absolute;
  width: 250px;
  height: 250px;
}

.home-view .gif.top-left {
  top: 200px;
  left: 150px;
}

.home-view .gif.top-right {
  top: 300px;
  right: 200px;
}

.home-view .gif.bottom-left-1 {
  bottom: 100px;
  left: 100px;
}

.home-view .gif.bottom-left-2 {
  bottom: 10px;
  left: 180px;
}

 #home {
  padding: 50px;
}

#home h1 {
  text-align: center;
}

#home div.content {
  max-width: 500px;
  margin: 50px auto;
  font-size: 1.5em;
} 

/* End homepage styles */


/* Categories styles */

#categories {
  padding: 50px;
}

#categories h1 {
  color: rgb(187, 135, 255);
}

#categories div.content {
  font-size: 1.25em;
}

div.category {
  display: inline-block;
  width: 20%;
  margin: 1%;
  padding: 1%;
  border: 1px solid rgb(97, 71, 97);
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
  text-align: center;
}

#categories button {
  font-size: 20px;
  padding: 5px;
  color: rgb(187, 135, 255);
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid black;
  cursor: pointer;
}

#categories button:hover {
  color: white;
}

/* End categories styles */


/* Movies styles */

#movies {
  padding: 50px;
}

#movies h1 {
  color: rgb(187, 135, 255);
}

#movies div.content {
  font-size: 1.25em;
  text-align: center;
}

div.movie {
  display: inline-block;
  width: 20%;
  margin: 1%;
  padding: 1%;
  border: 1px solid rgb(97, 71, 97);
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
  text-align: center;
}

div.movie h1 {
  font-size: 1.5em;
  margin: 5px;
}

div.movie h2 {
  font-size: 1.25em;
  margin: 5px;
}

div.movie img {
  width: 100%;
  margin-bottom: 20px;
}

#movies button {
  font-size: 20px;
  padding: 5px;
  color: rgb(222, 113, 255);
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid black;
  cursor: pointer;
}

#movies button:hover {
  color: white;
}

/* Single movie styles */

div.movie-detailed {
  padding: 20px;
  border: 1px solid rgb(97, 71, 97);
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
  display: table;
  width: 100%;
}

div.movie-detailed p {
  font-size: 1.25em;
  color: #eee;
}

div.movie-detailed div.poster {
  width: 30%;
  display: table-cell;
  padding: 20px;
  margin: 10px;
  border-right: 1px solid rgb(112, 112, 112);
}

div.movie-detailed div.poster img {
  width: 100%;
}

div.movie-detailed div.movie-info {
  padding: 20px;
  margin: 10px;
  vertical-align: top;
  display: table-cell;
  text-align: left;
  width: 70%;
  /* height: 100%; */
}

/* End movies styles */


/* About styles */

#about {
  padding: 50px;
}


#about h1 {
  color: rgb(187, 135, 255);
  margin-bottom: 50px;
}

#about h2 {
  color: rgb(229, 210, 255);
}


/*Loading Spinner */
.spinner {
  display: none;
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.8);
}

.spinner img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;  
  height: 200px;  
}


/* End about styles */